@import "tailwindcss";

:root {
  --background: #f9fafb;
  /* Gray 50 */
  --foreground: #111827;
  /* Gray 900 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}